doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='styles.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css')
  title Winstagram
nav
  ul.menu
    li.logo
      a(href='/') Winstagram
    if username
      li.item
        a.menu-button(href='member') Welcome, #{username}
      li.item
        button.menu-button(onclick="signOut()") Sign out
    else
      li.item
        button.menu-button(onclick="openForm('loginFormPopup')") Log in
      li.item
        button.menu-button(onclick="openForm('signupFormPopup')") Sign up
    li.toggle
      a(href='#')
        i.fas.fa-bars
.main
  .header
    h1 WeHelp Photo Sharing
#blur.popup-blur
#loginFormPopup.form-popup
  form#loginForm.form-container
    .form-header
      h2 Log in
      button.x-button(type='reset' onclick="closeForm('loginFormPopup', 'loginFormMessage')")
        i.fas.fa-times
    input#login-username(type='text' placeholder='Enter username' name='login-username')
    input#login-psw(type='password' placeholder='Enter password' name='login-psw')
    button.btn(type='submit') Log in
    p#loginFormMessage.form-warning-msg
#signupFormPopup.form-popup
  form#signupForm.form-container
    .form-header
      h2 Sign up
      button.x-button(type='reset' onclick="closeForm('signupFormPopup', 'signupFormMessage')")
        i.fas.fa-times
    input#signup-username(type='text' placeholder='Enter username' name='signup-username')
    input#signup-psw(type='password' placeholder='Enter password' name='signup-psw')
    input#confirm-psw(type='password' placeholder='Re-enter password' name='confirm-psw')
    button.btn(type='submit') Sign up
    p#signupFormMessage.form-warning-msg
script(src='https://unpkg.com/axios/dist/axios.min.js')
script(src='menu.js' type='module')
script(src='index.js' type='module')