doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='styles.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css')
  title Winstagram
nav
  ul.menu
    li.logo
      a(href='/') Winstagram
    if username
      li.item
        a.menu-button(href='member') Welcome, #{username}
      li.item
        button.menu-button(onclick="signOut()") Sign out
    else
      li.item
        button.menu-button(onclick="openForm('loginFormPopup')") Log in
      li.item
        button.menu-button(onclick="openForm('signupFormPopup')") Sign up
    li.toggle
      a(href='#')
        i.fa-solid.fa-bars
#feed.main
  .post-container
    p jacob
    img.display-image(src='test.jpg')
    .likes
      if liked
        i.fa-solid.fa-heart(onclick="toggleLike(this)")
      else
        i.fa-regular.fa-heart(onclick="toggleLike(this)")
      p.likes-number 100
  if username
    span.upload-button
      span.fa-stack.fa-2x
        i.fa-solid.fa-square.fa-stack-1x.fa-inverse
        i.fa-regular.fa-square-plus.fa-stack-1x(onclick="openForm('uploadFormPopup')")
    
#blur.popup-blur
#loginFormPopup.form-popup
  form#loginForm.form-container
    .form-header
      h2 Log in
      button.x-button(type='reset' onclick="closeForm('loginFormPopup', 'loginFormMessage')")
        i.fa-solid.fa-xmark
    input#login-username(type='text' placeholder='Enter username' name='login-username')
    input#login-psw(type='password' placeholder='Enter password' name='login-psw')
    button.btn(type='submit') Log in
    p#loginFormMessage.form-warning-msg
#signupFormPopup.form-popup
  form#signupForm.form-container
    .form-header
      h2 Sign up
      button.x-button(type='reset' onclick="closeForm('signupFormPopup', 'signupFormMessage')")
        i.fa-solid.fa-xmark
    input#signup-username(type='text' placeholder='Enter username' name='signup-username')
    input#signup-psw(type='password' placeholder='Enter password' name='signup-psw')
    input#confirm-psw(type='password' placeholder='Re-enter password' name='confirm-psw')
    button.btn(type='submit') Sign up
    p#signupFormMessage.form-warning-msg
#uploadFormPopup.form-popup
  form#uploadForm.form-container
    .form-header
      h2 Upload image
      button.x-button(type='reset' onclick="closeForm('uploadFormPopup', 'uploadFormMessage')")
        i.fa-solid.fa-xmark
    input#image-upload(type='file' name='image-upload' accept='image/png, image/jpeg' required)
    button.btn(type='submit') Post
    p#uploadFormMessage.form-warning-msg
script(src='https://unpkg.com/axios/dist/axios.min.js')
script(src='menu.js' type='module')
script(src='index.js' type='module')